/* header */
.header-bg {
    background-color: var(--color-b1);
}

.header {
    padding: 2.5rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-menu li a {
    font: 500 1rem/1.5 var(--font-text);
    color: var(--color-b8);
    text-transform: uppercase;
}

.header-menu li a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--color-e1);
    transition: 0.3s;
}

.header-menu li a:hover::after {
    width: 100%;
}

.btn-contato {
    padding: 12px 24px;
    background: var(--color-grad1);
    border: solid 2px #228687;
    border-radius: 50px;
    font: 700 14px/1.3 var(--font-text);
    color: var(--color-e2);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

.btn-contato::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(/public/assets/img/icons/hello-icon.svg) no-repeat;
}

/* menu mobile */
.btn-mobile {
    display: none;
    padding: 6px 12px;
    font-size: 0.875rem;
    position: relative;
}

.mobile-faide {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 200;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
}

.mobile-faide.active {
    animation: circle-in-center 1s;
}

.mobile-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mobile-lista ul {
    width: 100%;
    text-align: center;
}

.mobile-lista a {
    display: block;
    font: 700 1.5rem/1.5 var(--font-text);
    color: var(--color-b8);
    letter-spacing: 2px;
    padding: 10px;
    text-transform: uppercase;
}

.mobile-lista li:hover {
    background: rgba(100, 100, 100, 0.5);
}

.mobile-lista li+li {
    margin-top: 2rem;
}

/* classe para ativar elementos */
.active {
    display: block;
}

/* animações */
@keyframes circle-in-center {
    from {
        clip-path: circle(0%);
    }

    to {
        clip-path: circle(125%);
    }
}

[transition-style="in:circle:center"] {
    animation: cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

/* media queries */
@media(width <=800px) {
    .header-menu {
        gap: 1.5rem;
    }

    .header-menu li a {
        text-transform: initial;
    }

    .btn-contato {
        transform: scale(0.8);
    }
}

@media (width <=600px) {
    .header a[href^="mailto"] {
        display: none;
    }
}

@media (width <=400px) {
    .header-menu {
        display: none;
    }

    .btn-mobile {
        display: flex;
    }
}